* {
  font-family: "LXGW WenKai Mono","Maple Mono NF";
  font-size: 16px;
  min-height: 0;
}

window#waybar {
  background: #1f1f28;
  color: #dcd7ba;
}

#workspaces,
#custom-spotify,
#network,
#pulseaudio,
#battery,
#clock,
#tray {
  padding: 0px 10px;
  background: #363646;
}

#workspaces {
  padding-left: 0px;
  border-radius: 0px 15px 15px 0px;
}

#workspaces button {
  min-width: 0;
  color: #dcd7ba;
}

#workspaces button.active {
  color: #a3d4d5;
}

#workspaces button.urgent {
  color: #1f1f28;
  background: #e46876;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #54546d;
  border-color: #54546d;
  border-radius: 10px;
  color: #a3d4d5;
}

#custom-spotify {
  border-radius: 15px 15px 15px 15px;
}

#network {
  border-radius: 15px 0px 0px 15px;
}

#pulseaudio {
  border-radius: 0px 0px 0px 0px;
}

#battery {
  border-radius: 0px 0px 0px 0px;
}

#clock {
  border-radius: 0px 15px 15px 0px;
}

#tray {
  padding-left: 5px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: 0px;
  margin-left: 10px;
  border-radius: 15px 0px 0px 15px;
}
